
@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOutUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
  
    to {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
  
  .custom-toast {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 0.4s ease forwards;
  }
  
  .fade-out {
    animation: fadeOutUp 0.4s ease forwards !important;
  }